[2018-03-05 10:19] InvisibleUSA opened #1 "Create GitHub"

[2018-03-05 10:20] #1 closed, assigned to InvisibleUSA

[2018-03-05 10:21] InvisibleUSA opened #2 "Anforderungen definieren und auf GitHub hochladen"

[2018-03-05 11:31] ede1998 opened #3 "Projektplan anfertigen"

[2018-03-05 11:33] ede1998 opened #4 "Dokumenten-Templates erstellen"
Template für Aufwandserfassung
Andere Templates?

[2018-03-05 11:36] ede1998 opened #5 "Arbeitskonventionen festlegen und dokumentieren"
Beispiele:
Codeformatting
Abspeichern von Textdokumenten in Richtext (rtf)
Abspeichern von Tabellen in csv

[2018-03-05 12:09] InvisibleUSA opened #6 "Rollenverteilung veröffentlichen"
Bitte die Verteilung der Rollen auf GitHub hochladen

[2018-03-05 12:14] ede1998 opened #7 "Website erstellen"
Wo wird gehostet?
Wie wird synchronisiert? (Github <-> website)

[2018-03-05 12:32] InvisibleUSA opened #8 "Risikoanalyse auf GitHub hochladen"

[2018-03-05 18:23] #8 closed, assigned to Toberto91

[2018-03-05 18:27] #4 closed, assigned to ede1998

[2018-03-05 18:36] #6 closed, assigned to Toberto91

[2018-03-05 19:48] InvisibleUSA opened #9 ".gitignore erstellen"

[2018-03-06 10:07] #9 closed, assigned to InvisibleUSA

[2018-03-08 10:18] InvisibleUSA opened #11 "Bilder für Produktwebsite erstellen"

[2018-03-08 10:20] InvisibleUSA opened #12 "Dateien in markdown format umwandeln"
Bitte alle Dateien für die es möglich ist in das markdown Format umwandeln

[2018-03-08 12:49] InvisibleUSA opened #13 "Google Kalender erstellen"

[2018-03-08 12:56] BentiGorlich opened #14 "Link GutHub Pages"

[2018-03-08 12:58] #13 closed, assigned to InvisibleUSA

[2018-03-08 13:05] #14 closed, assigned to InvisibleUSA

[2018-03-08 13:35] #2 closed, assigned to nobody

[2018-03-09 12:13] #12 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-03-09 13:54] InvisibleUSA opened #15 "Agenda fuer Meeting eintragen (Google Calendar)"
Bitte alle das was sie besprechen wollen als Agenda eintragen!

[2018-03-10 17:25] MarcoRempfer opened #16 "OneNote"
OneNote für Notizen und Code-Dokumentation:
https://1drv.ms/u/s!Ao3O7k-hxFeGi1fWenQ_aAUnT3SS

Gedacht für:
- Einzelheiten zu Design und Implementierung mit Skizzen, Screenshots, Links, etc.
- detaillierte Bug-Beschreibungen und Untersuchungsergebnisse
- nützliche Infos und Tutorials

[2018-03-11 19:11] MarcoRempfer opened #17 "Darstellungsfehler des Kalenders auf README.md"
Siehe OneNote:

https://onedrive.live.com/view.aspx?resid=8657C4A14FEECE8D%211495&id=documents&wd=target%28Bugs.one%7C431FE40C-1460-4333-B44D-51E234F25824%2FKalender%20auf%20GitHub-Pages%7CD8F31D9B-4810-4315-8C1C-D0E5E9D9C75E%2F%29
onenote:https://d.docs.live.net/8657c4a14feece8d/Documents/METLAB_News/Bugs.one#Kalender%20auf%20GitHub-Pages&section-id={431FE40C-1460-4333-B44D-51E234F25824}&page-id=

[2018-03-11 19:24] MarcoRempfer commented on #17
Ist natürlich nicht wichtig, könnte sich aber vielleicht trotzdem mal jemand drum kümmern.
Ich wollte euch vorallem mal exemplarisch zeigen, wie ich mir Bug-Reports vorstelle:
1) Neues Issue mit Kurzbeschreibung und 'bug'-Label
2) Neue OneNote Page in der entsprechenden Kategorie mit genauer Beschreibung, ggf. Screenshots, Log
    Files, etc.
3) Bei GitHub auf die OneNote Page verlinken
4) Auf der

[2018-03-11 19:47] ede1998 commented on #17
was bietet onenote fuer vorteile gegenueber github? Ínwieweit lassen sich infos besser kategorisieren?

Zum Bug: es ist bekannt, dass manchmal der Kalender angezeigt wird und manchmal nicht

[2018-03-11 19:50] #15 closed

[2018-03-11 19:51] #3 closed

[2018-03-11 20:18] MarcoRempfer commented on #17
Man kategorisiert über Abschnitte, Seiten und Unterseiten
Man kann bequem das ganze Notizbuch nach bestimmeten Begriffen durchsuchen
Man kann schneller von einee Seite zu einer anderen wechseln
Man hat Zeichentools und bessere Formatierungsmöglichkeiten

[2018-03-11 20:19] InvisibleUSA commented on #17
Das sollte man morgen mal besprechen

[2018-03-11 20:39] MarcoRempfer commented on #17
@InvisibleUSA @ede1998 würdet ihr dieses Issue bitte nicht ständig reopen?
Wir sollten die OneNote Diskussion unter dem Issue mit dem Titel "OneNote" führen, nicht hier.
Dieses Issue hier ist ein Bug-Report, der sich erledigt hat.

[2018-03-11 20:39] #17 closed

[2018-03-13 14:34] MarcoRempfer opened #18 "Code Style Anschauen"
Software/IntelliJ_CodeStyle.xml

In IntelliJ importieren und rückmelden, ob ihr damit leben könnt.

[2018-03-14 15:07] ede1998 opened #19 "Tools/Frameworks ausprobieren"
Als erster Teil der SW-Studie sollen die verwendeten Werkzeuge genauer untersucht und ausprobiert werden, sodass wir einen Überblick über die Funktionen und Verwendungsweise bekommen.
- [x] Maven @ede1998
- [x] Vaadin @vulpesaquae
- [x] TomEE @InvisibleUSA
- [x] Lucene/BaseX @BentiGorlich
- [x] RSS-Feed/Rome @ede1998
- [x] JUnit @vulpesaquae

[2018-03-14 15:09] ede1998 opened #20 "Repository-Einstellungen anpassen"
- Repository wieder private machen
- Herr van Hoof als Collaborator hinzufügen

[2018-03-14 15:12] ede1998 opened #21 "Recherchebericht zu Ende bringen"
- [x] Genauere Betrachtung eines Produkts @BentiGorlich
- [x] Bericht erstellen @MarcoRempfer

[2018-03-14 15:13] ede1998 opened #22 "Server anmieten"
Anmieten des Digital Ocean V-Server

[2018-03-14 16:01] BentiGorlich commented on #21
Betrachtung Echobot ist fertig

[2018-03-14 16:02] ede1998 commented on #21
Kannst du die Use Cases noch ausformulieren?

[2018-03-14 16:03] BentiGorlich commented on #21
nicht selbsterklärend?

[2018-03-14 16:05] ede1998 commented on #21
habe es mir nochmal genauer angeschaut. Use Cases meint was anderes. Du hast Verwendungsszenarien gelistet. Use Case waere meiner Meinung nach eher Report erstellen

[2018-03-14 16:06] BentiGorlich commented on #21
Was heißt Use-Cases denn wenn nicht genau das? ^^

[2018-03-14 16:07] ede1998 commented on #21
Wie kann der Anwender die Software verwenden, was fuer Funktionen hat die Software und so weiter
- Report erstellen
- Account erstellen
- Archivierten Report abrufen
- ...

[2018-03-14 16:09] BentiGorlich commented on #21
Naja dann habe ich das ja vorher schon gemacht. Is noch nicht 100% aber den großteil habe ich dann ja schon...

[2018-03-14 16:09] BentiGorlich commented on #21
ups ^^
Naja den großteil davon habe ich dann ja... icherweitere das dann noch

[2018-03-14 16:17] BentiGorlich opened #23 "Aufwandserfassung nicht alle als Contributor"
Absicht?
Wenn ja wie wollen wir das dann machen?

[2018-03-14 16:18] ede1998 commented on #23
Wie meinst du das?

[2018-03-14 16:19] BentiGorlich commented on #23
Ich kann die Excel Datei nicht ändern weil ich kein Contributor bin

[2018-03-14 16:21] ede1998 commented on #23
Contributor sind alle Leute, die diese Datei bisher veraendert haben

[2018-03-14 16:28] #23 closed

[2018-03-14 17:54] ede1998 commented on #18
### Verbesserungsvorschläge:
- Line separator \n festlegen statt system-dependant
  * Sonst evtl. Probleme bei Einchecken in VCS, wenn vorher ein anderes OS verwendet wurde
- Einrueckung mit 2 Spaces statt Tab und 4 tief
  * Personal Preference, sollte die Mehrheit entscheiden => Abstimmung
- Spaces hinter keywords wie while, for, if statt direkt Klammer folgen zu lassen (Ausnahme: Funktionsaufruf

[2018-03-15 09:16] InvisibleUSA commented on #22
Erledigt!
Details ueber Zugriff etc. müssen noch geklärt werden

[2018-03-15 09:16] #22 closed

[2018-03-15 09:21] InvisibleUSA commented on #22
IP: 46.101.223.95

[2018-03-15 18:23] Toberto91 commented on #11
Produktwebseite erstellt, Bilder hinzugefügt

[2018-03-15 18:24] Toberto91 commented on #7
Webseite fertig erstellt:
https://metlabnews.wixsite.com/metlab-news

[2018-03-15 18:24] #7 closed

[2018-03-15 18:24] Toberto91 commented on #5
Fertig, siehe https://docs.wixstatic.com/ugd/e46385_3a7c1c8c706a4cb9811d1fa97ecae781.pdf

[2018-03-15 18:25] #5 closed

[2018-03-15 18:27] #16 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-03-15 18:29] Toberto91 commented on #21
Schaut mal bitte im OneDrive (shit-link vom Vorjahr) den Ordner "SWE-AVHdocs_public,rar", dort sind sämtliche Aufgabenblätter. Könnte man als Muster verwenden.

[2018-03-15 18:39] ede1998 commented on #11
Wie meinst du das? Hast du tatsächlich eine Produktwebsite erstellt?
Ich dachte du wolltest eine Projektwebsite machen.

Außerdem: Bitte einen Verweis darauf, wenn so was verkündest. So lässt es sich schnell finden.

[2018-03-16 08:36] Toberto91 commented on #11
Ich dachte du wolltest eine Projektwebsite machen.

War ein Versehen. Meinst du mit der Produktwebseite dann die Webapplikation? Die würde ich sagen machen wir auf Lukas' Webspace. Dort mit HTML und CSS.

Was genau meinst du mit Bilder erstellen? Logo's?

[2018-03-16 08:40] InvisibleUSA commented on #11
Begriffserklaerung:
Produktwebsite - Die Website wo die Webapplikation drauf laeuft
Projektwebsite - Die Website wo unsere Dokumentation veroeffentlicht wird

[2018-03-16 08:45] Toberto91 commented on #11
Ok.

Projektwebsite: https://metlabnews.wixsite.com/metlab-news
Produktwebsite: Link von Projektwebsite -> "Webapplikation"

[2018-03-17 13:00] BentiGorlich opened #24 "OneNote irgendwo verlinken"
OneNote für Notizen und Code-Dokumentation:
https://1drv.ms/u/s!Ao3O7k-hxFeGi1fWenQ_aAUnT3SS

[2018-03-17 14:46] Toberto91 commented on #24
OneNote ist auf der Projektwebseite unter dem Reiter "Organisation" verlinkt.
Webseite: https://metlabnews.wixsite.com/metlab-news
Passwort für Gästebereich: metlab12345

[2018-03-17 14:46] #24 closed

[2018-03-17 18:39] Toberto91 opened #25 "Github Pages entfernen"
Neue PROJEKT-Webseite: https://metlabnews.wixsite.com/metlab-news
Passwort für Gästebereich: metlab12345

- Bitte auch die Readme.md (und alle dazugehörigen) Dateien entfernen, bzw. bearbeiten.
- Neue Homepage an Van Hoof senden (falls notwendig)

[2018-03-17 18:49] Toberto91 opened #26 "Terminplanung bei Google Kalender eintragen"
- Bitte alle Termine dort eintragen, die hier im Repository in der Datei "Terminplanung.md" stehen

-> Falls schon alles erledigt, bitte schließen

[2018-03-17 18:51] ede1998 commented on #25
README sollte nicht entfernt, sondern nur überarbeitet werden. Sie hat den Zweck, Dritte ueber das Repository und seinen Inhalt informieren.

[2018-03-17 20:42] Toberto91 commented on #25
- README überarbeitet
- Homepage Link erneuert

[2018-03-17 20:42] #25 closed

[2018-03-18 10:43] #21 closed

[2018-03-18 10:51] MarcoRempfer opened #27 "OneNote Link auf Projekthomepage"
Den Link auf OneNote bitte in den passwortgeschützten Bereich verschieben. Da soll nicht jeder reinschauen können.
Alternativ: OneNote auf der Homepage gar nicht verlinken, wäre mir noch viel lieber.

[2018-03-18 10:55] MarcoRempfer opened #28 "Projekthomepage Bilder Urheberrecht"
Sind diese Bilder urherberrechtlich abgesichert? Wir wären wirklich nicht die ersten, die für sowas verklagt werden.

[2018-03-18 11:07] MarcoRempfer commented on #18
1) Richtig, wurde übernommen
2) Bin eher dagegen
3) Bin eher dagegen
4) Bin dagegen
5) Bin dafür, wurde übernommen
6) Bin dafür, wurde übernommen
7) Richtig, wurde übernommen

[2018-03-18 11:12] Toberto91 commented on #28
Link zu den Bildern: https://www.pexels.com/search/newspaper/
Link zu den FAQ (Lizensen): https://www.pexels.com/faq/

Zitat 1:
What is the license of the photos on Pexels?
All photos on Pexels are licensed under the Creative Commons Zero (CC0) license. This means you can use them for free for any personal and commercial purpose. Attribution is not required. For more information read our license p

[2018-03-18 11:12] #28 closed

[2018-03-18 11:17] Toberto91 commented on #27
Sorry - dachte der komplette Unterbereich ist auch passwortgeschützt, wenn ich den Bereich "Organisation" mit einem Passwort versehe.

- Arbeitsrichtlinien entfernt
- OneNote entfernt

[2018-03-18 11:17] #27 closed

[2018-03-18 11:19] MarcoRempfer commented on #28
Ist erstmal gut, aber beim letzten Punkt kommt uns das deutsche Urheberrecht in die Quere. Demnach muss die Quelle genannt werden. Ein kleiner Hinweis im Impressum auf Pexels reicht wahrscheinlich aus.

[2018-03-18 11:23] Toberto91 commented on #28
Erledigt -> https://metlabnews.wixsite.com/metlab-news/impressum

[2018-03-19 11:18] InvisibleUSA opened #29 "Vaadin (Seiten GUI machen)"

[2018-03-19 11:18] InvisibleUSA opened #30 "Webcrawler u. BaxeX einrichten"

[2018-03-19 11:19] InvisibleUSA opened #31 "Pressespiegel generieren + Timer"

[2018-03-19 11:20] InvisibleUSA opened #32 "Nutzerlogin + RDBMS"

[2018-03-19 13:49] MarcoRempfer commented on #18
Muss nochmal überarbeitet werden.

[2018-03-19 13:51] ede1998 commented on #18
Was muss denn noch ueberarbeitet werden?

[2018-03-19 15:41] ede1998 opened #33 "Dokument: Designstudie"
Erstellung des Designstudiendokuments

[2018-03-19 15:42] ede1998 commented on #20
Repo bleibt public, bitte keine Login-Daten u.ä. eintragen

[2018-03-19 15:42] #20 closed

[2018-03-20 09:51] Toberto91 commented on #32
Das Aufsetzten der MariaDB übernehme ich, um Lukas für die FSA Klausur zu entlasten.

[2018-03-20 09:52] ede1998 commented on #32
Im Designatudie gibt es schon fast ein Er modell, bitte dafür noch mit asta ein diagramm machen

[2018-03-20 19:55] InvisibleUSA commented on #32
- [ ] Basic SQL Funktionen in eigene Klasse einfuegen @Toberto91

[2018-03-23 17:56] Toberto91 commented on #32
Befindet sich im SQL Branch. Für Mutations- und Abfragebefehle.

[2018-03-23 17:56] #32 closed

[2018-03-23 18:44] #19 closed

[2018-03-24 13:10] MarcoRempfer commented on #11
Kann man dieses Issue schließen?

[2018-03-24 13:11] MarcoRempfer commented on #26
Hat sich erledigt, oder?

[2018-03-24 13:11] ede1998 commented on #26
hast soweit ich weiss bisher niemand gemacht

[2018-03-24 16:32] ede1998 commented on #31
Addressed in commit cb1a128

[2018-03-24 16:32] #31 closed

[2018-03-24 16:33] ede1998 commented on #30
Erledigt in Branch basex

[2018-03-24 16:33] #30 closed

[2018-03-24 23:57] InvisibleUSA opened #39 "TODO: SQL code documentation"

[2018-03-25 00:00] InvisibleUSA opened #40 "TODO: UI Controller finishup"
see TODOs in [uiController](https://github.com/InvisibleUSA/METLAB_News/blob/master/Software/Source/com/metlab/frontend/uiController.java)

[2018-03-25 09:06] ede1998 opened #41 "Prototyp: Dokumentationskonzept anwenden"
Prototyp nochmals ueberarbeiten und kommentieren, damit die dokurichtlinien ausprobiert werden

ToDo fuer naechste Woche

[2018-03-25 11:42] Toberto91 commented on #11
closed, weil keiner checkt was hier gemeint ist.

[2018-03-25 11:42] #11 closed

[2018-03-25 12:01] MarcoRempfer opened #42 "Software Architektur festlegen"
Wird am Mittwoch (28.03.) erledigt.
Bis dahin sollten sich idealerweise alle schon mal mit dem Thema befassen.
Ein paar Links (für die, die etwas Zeit haben):
https://www.ibm.com/developerworks/rational/library/feb06/eeles/

https://towardsdatascience.com/10-common-software-architectural-patterns-in-a-nutshell-a0b47a1e9013
https://techbeacon.com/top-5-software-architecture-patterns-how-make-right-

[2018-03-25 15:24] #29 closed

[2018-03-25 15:24] #40 closed

[2018-03-28 07:16] MarcoRempfer commented on #41
Prototyp ist ja jetzt fertig.

[2018-03-28 07:16] #41 closed

[2018-03-28 07:17] MarcoRempfer commented on #33
Wurde bereits eingereicht.

[2018-03-28 07:17] #33 closed

[2018-03-29 20:42] #42 closed

[2018-04-06 07:25] InvisibleUSA opened #43 "Presentation Branch loeschen"
Hat der Branch noch einen Sinn? Wenn nicht bitte loeschen.

[2018-04-06 08:11] #39 closed

[2018-04-06 16:02] BentiGorlich opened #44 "Der ganze rest muss aus dem Presentation/Ressource Manager gestartet werden"

[2018-04-06 17:23] InvisibleUSA opened #45 "Start Apache on port 8080"

[2018-04-06 18:53] #45 closed

[2018-04-07 08:15] MarcoRempfer commented on #44
Bitte alle Klassen, die vor der ersten Benutzung initialisiert sein müssen, im OneNote auflisten. Ich kümmer mich dann drum.

[2018-04-07 08:16] MarcoRempfer commented on #43
Lass ihn mal noch da, Ich finde, jeder sollte einen persönlichen Branch zum Experimentieren haben.

[2018-04-07 08:16] #43 closed

[2018-04-07 17:05] Toberto91 opened #46 "Werte in Settings.XML eintragen"
Unter Model/DataAccess/Settings.XML könnt ihr eure Einstellungen eintragen

[2018-04-12 12:40] ede1998 opened #47 "Infinite Recursion zwischen Logger und ConfigurationManager"
Siehe Titel. Hat jemand anderes das gleiche Problem auf dev? Ich bekomme einen StackOverflow sobald ich den Server starten will. So was muss doch auffallen... Bitte vorm comitten wenigstens rudimentär testen.
StackTrace:
[code]

[2018-04-12 13:32] ede1998 commented on #47
Wurde das in commit d3f1c18bade0ec8670fae66aa4a5a3d64d80b1df geloest? Wenn ja bitte schliessen.

[2018-04-12 15:46] BentiGorlich opened #48 "Brauche noch neue Queries"
und zwar für: getSources(), addSource(Source source), titleExists(String title), addArticle(Article article)

[2018-04-12 15:49] ede1998 commented on #48
Marco hat die DB anschluss groesstenteils implementiert

[2018-04-12 16:11] ede1998 opened #49 "Dev branch geht nicht"
Ich habe gerade probiert, den dev branch zum laufen zu bekommen mit
[code]
Wenn ich mich versuche anzumelden spuckt die Konsole das hier aus:
Btw bitte diesen Output auf den Logger umleiten...
[code]

[2018-04-12 16:12] BentiGorlich commented on #48
ok dann merge ich das noch bei mir

[2018-04-12 16:30] BentiGorlich opened #50 "SQL Tabelle für Quellen"

[2018-04-12 16:31] BentiGorlich commented on #50
weiß nicht genau wo die hin soll

[2018-04-12 16:31] InvisibleUSA commented on #50
Ne kleine Beschreibung waere nice :D

[2018-04-12 16:32] InvisibleUSA commented on #50
@BentiGorlich kannst du in den Discord kommen?

[2018-04-12 16:57] InvisibleUSA opened #51 "FIXME: Change ConfigManager Settings.xml path to OS independent path"

[2018-04-12 18:09] MarcoRempfer commented on #47
Ist gefixt

[2018-04-12 18:09] #47 closed

[2018-04-12 18:13] MarcoRempfer commented on #51
Das ist doch bereits ein relativer Pfad?

[2018-04-13 05:54] InvisibleUSA commented on #51
Deswegen steht da ja auch „os independent“ und nicht „relative“

[2018-04-14 23:37] #49 closed

[2018-04-14 23:37] #44 closed

[2018-04-14 23:46] #51 closed

[2018-04-14 23:47] MarcoRempfer commented on #46
Scheint ja vorerst erledigt zu sein

[2018-04-15 01:04] MarcoRempfer opened #52 "Logger: Remove unnecessary 'synchronized' at getInstance()"
Das synchronized bei getInstance() kann weg.
synchronized ist ziemlich teuer in Bezug auf Rechenzeit.

[2018-04-16 08:06] #52 closed

[2018-04-16 08:58] ede1998 commented on #46
Habe noch weitere Einstellungen:
int getBaseXPort()
String getBaseXDBName()

[2018-04-16 10:28] MarcoRempfer opened #53 "MariaDB: sporadisch auftretende Verbindungsprobleme"
Fehler beim Verbinden mit MariaDB auf dem Server:
"Host '46.101.223.95' is blocked because of many connection errors; unblock with 'mysqladmin flush-hosts'"

Siehe OneNote.

[2018-04-16 11:14] InvisibleUSA commented on #53
Ich glaube nicht das es mit 'mysqladmin flush-hosts' getan ist. Ich denke, dass im code irgendwas Verbindungsprobleme macht und dadurch auch nach dem flushen noch blocken würde.

[2018-04-16 11:25] InvisibleUSA commented on #53
Das es später wieder funktioniert liegt wahrscheinlich daran, dass automatisch die hosts geflushed werden.

[2018-04-16 11:25] MarcoRempfer commented on #53
Macht Sinn

[2018-04-16 11:26] InvisibleUSA commented on #53
vielleicht mal auf dem Server selber mit localhost auf die DB zugreifen anstatt mit der ext. IP?

[2018-04-16 11:28] MarcoRempfer commented on #53
Können wir in Zukunft machen, gibt dafür bereits ein Flag in Settings.xml

[2018-04-16 11:35] MarcoRempfer commented on #53
Ok, Zugriff über localhost ist eingebaut und max_connect_errors steht jetzt auf 1000.
Warten wir einfach ab.

[2018-04-16 11:35] #53 closed

[2018-04-16 11:37] InvisibleUSA opened #54 "Missing spaces in console logging"
`#1288 | DEBUG | [11:32:15] : child PRICEat position 0requested. (Parent:CD)`

[2018-04-16 14:16] MarcoRempfer commented on #46
@ede1998 sind drin

[2018-04-17 07:14] BentiGorlich commented on #48
auch aufm Database branch hats die Queries nicht...

[2018-04-17 15:53] BentiGorlich opened #55 "ConfigurationManager loggt falsch"
wer auch immer die Enums im Logger umbenannt hat hat vergessen das im Configurationmanager auch zu machen

[2018-04-17 15:54] ede1998 commented on #55
schau doch ins git blame : D

[2018-04-17 15:54] BentiGorlich commented on #55
ins was? ^^

[2018-04-17 15:55] ede1998 commented on #55
git blame
ist ein git befehl, mit dem du fuer jede zeile angezeigt bekommst, von wem sie ist,
geht auch ueber github oben rechts iwo auf der entsprechenden Datei Blame

[2018-04-17 16:01] BentiGorlich commented on #55
ich würde das einfach beheben. Zumindest in meinem Branch

[2018-04-17 16:02] BentiGorlich commented on #48
in meinem Branch habe ich die jetzt implementiert

[2018-04-17 16:02] #48 closed

[2018-04-17 16:48] MarcoRempfer commented on #55
Etwas detaillierter bitte.
Welche enums sind betroffen?

[2018-04-17 16:50] BentiGorlich commented on #55
alle vom logger

[2018-04-17 16:50] BentiGorlich commented on #55
Channel, LogPriority und LogType haben alle einen anderen Namen auf dem Dev Branch als auf jedem anderen

[2018-04-17 17:11] MarcoRempfer commented on #55
Lösung: Refactor -> Rename

[2018-04-17 18:34] InvisibleUSA opened #56 "Talk about Subscriber entity"

[2018-04-18 12:00] MarcoRempfer commented on #56
?

[2018-04-19 06:56] InvisibleUSA opened #58 "Change the ERROR MESSAGE Notifications"
Following idea:

Change notifications like this:
`access(() -> Notification.show("Anmeldung fehlgeschlagen\n" + errorMessage, Notification.Type.ERROR_MESSAGE));`

![screen shot 2018-04-19 at 08 57 27](https://user-images.githubusercontent.com/26510839/38975858-b54cdc1c-43af-11e8-8999-dc2f7fa60008.png)

To notifications that look like this:
`Notification notif = new Notification("Anmeldung fehlgesc

[2018-04-19 06:58] #56 closed

[2018-04-19 07:51] InvisibleUSA opened #59 "Feedback after successfully adding Organization"
Currently no feedback. Please add something like field clearing and/or a notification

[2018-04-19 11:30] MarcoRempfer commented on #59
Man beachte: wir haben derzeit keine GUI.
Im dev Branch ist nur meine Mock-GUI.

[2018-04-19 11:31] MarcoRempfer commented on #58
I approve.

[2018-04-19 11:32] InvisibleUSA commented on #58
kleiner Tipp: es gibt reactions

[2018-04-19 11:58] MarcoRempfer opened #60 "Features bei der Benutzerverwaltung wiederherstellen"
Bei dem Merge vom Database-Branch mit dem dev-Branch sind eine Reihe von Dingen verloren gegangen:

- Unit Tests für Queries fehlen
- JavaDoc fehlt
- SQL-Anfragen werden in den Queries erstellt -> schlechtes Design
- **ist das ganze thread safe?**
- unnötige viele Queries (Login und GetVerificationStatus können z.B. zusammengelegt werden)
- Entities werden nicht benutzt?

Für mich ist nicht erkenn

[2018-04-19 12:03] MarcoRempfer commented on #60
Und die Sprache in der Datanbank ist wohl Denglisch.

[2018-04-19 12:07] MarcoRempfer commented on #60
Wie wäre es mit:
QueryAddUser qau = new QueryAddUser(adminFirstName, adminLastName, ...);

anstatt:
QueryAddUser qau = new QueryAddUser();
qau.firstName = adminFirstName;
qau.lastName = adminLastName;
...

[2018-04-19 12:10] MarcoRempfer commented on #60
An mehreren Stellen im UserManager fehlt eine Fehlerbehandlung (nur teilweise mit TODOs markiert)
Die TODO: Implement waren schon mal erledigt...

[2018-04-19 17:27] ede1998 commented on #60
Inwieweit macht eine Unittesting der Queries ueberhaupt sinn?
der algorithmus, wie eine Query funktioniert ist immer der gleiche und nur die Anfragen unterscheiden sich.

Warum ist das schlechtes Design? Dadurch erfolgt eine Trennung von Zugriff auf die daten und dem Algorithmus, der die Daten braucht.

es kommt auf die Anfrage an, ob es sinnvoll ist entity objekt zu returnen

BaseXConnector jetzt

[2018-04-19 17:28] ede1998 opened #61 "Test fuer BaseXConnector"
Jemand eine Idee wie man den sinnvoll testen kann?
es gibt nur 1 interessante public methode String query(Command cmd)

[2018-04-19 19:16] ede1998 opened #62 "Null pointer exception in Configuration Manager"
Wenn dem CM eine Settings.xml gegeben wird, die nicht alle properties enthaelt, kann es zu einer Exception kommen:
einige Einstellungs Getter geben einen int oder double Wert zurueck. Dieser wird durch parseInt/Double aus ausgelesenen String gewonnen. Was passiert, wenn der eingelesene String null ist?
Weiterhin: was passiert wenn der ausgelesene String keine Zahl darstellt?

[2018-04-20 08:27] MarcoRempfer commented on #60
UnitTests auf die Queries testen eine komplette Datenbankabfrage, also auch ob der Name der Tabelle bzw. der Spalte passt.

Wenn sich die SQL-Strings ändern (z.B. anderes DBMS als MariaDB), müssen alle Queries geändert werden. Deshalb schlechtes Design. Besser: die Queries im Connector erstellen.

Immer Entities zu benutzen schafft ein klares und konsistentes Interface.

Dann ist der MariDB Zugrif

[2018-04-20 08:28] MarcoRempfer commented on #61
Die Queries testen

[2018-04-20 08:30] MarcoRempfer commented on #61
Nicht unbedingt alle Queries, aber mindestens eine pro Tabelle / Dokument, eine fürs Einfügen, fürs Löschen, fürs Updaten und fürs Lesen.

[2018-04-20 15:31] vulpesaquae commented on #58
Akzeptiert

[2018-04-20 15:31] #58 closed

[2018-04-22 09:35] Toberto91 commented on #62
Die Leute müssen darauf achten, dass wenn sie die Methode eigenständig implementieren, dass diese auch ordnungsgemäß abgefangen werden. Dazu waren eigentlich ausreichend Beispiele im Quellcode vorhanden.
Ich habe jetzt mal alle Methoden angepasst. In Zukunft bitte darauf achten!
Boolean-parse wird automatisch auf false gesetzt, wenn dort etwas nicht stimmt oder der String leer ist.

[2018-04-22 09:35] #62 closed

[2018-04-22 09:39] Toberto91 commented on #55
LogType existiert lange nicht mehr. Du solltest dir die aktuellste Version vom Logger mergen, da dort oft Änderungen vorgenommen werden. Ich arbeite nur auf dem dev-Branch.

[2018-04-22 09:39] #55 closed

[2018-04-22 09:42] Toberto91 commented on #54
Meinst du das fehlende Leerzeichen bei "0requested" ? Oder was ist hiermit gemeint?

Für die Fehlermessage nach dem Timestamp ist jeder selbst verantwortlich.

[2018-04-22 10:03] InvisibleUSA commented on #54
Ja und das „PRICEat“

Bitte mal derjenige der dafür verantwortlich ist fixen @everyone

[2018-04-22 10:06] ede1998 commented on #54
Das ist ne meldung von mir, ich fixe das noch,
ABER es waere so viel einfach, wenn du das selber gemacht haettest... Einen Rechtschreibfehler in der Ausgabe zu fixen sollte kein issue notwendig machen

[2018-04-22 10:06] #54 closed

[2018-04-22 10:14] ede1998 opened #63 "Logging in Queries"
Welchen Channel verwende ich, wenn ich innerhalb einer Query loggen soll?
- BaseX
- RDBMS
- den, in dem die Query genutzt wird
- einen neuen Query-Channel?

[2018-04-22 10:21] ede1998 opened #64 "Logger: zusaetzliche Log-Funktionen"
Der Aufruf um etwas zu loggen ist immer relativ lang.
[code]

Mein Vorschlag:
Weitere 3 Funktionen zum Loggen, die das Level implizit haben:
[code]

Diese rufen dann einfach die log funktion auf mit dem passenden Level.

[2018-04-22 10:27] InvisibleUSA commented on #54
Ich hab aber keine Ahnung von welcher Klasse aus du das loggst. Vielleicht sollte man beim loggen noch den Namen der zugehörigen Klasse voranstellen.

[2018-04-22 10:29] ede1998 commented on #54
1) Du setzt einen Conditional Breakpoint in log, der triggered, wenn dieser String geloggt werden soll.
2) Du schaust in den StackTrace und schaust, wer gerade log aufgerufen hat.
3) du korrigierst den Fehler

ODER

1) du durchsuchst das ganze Projekt nach einem Substring davon, der sicher nicht dynamisch zusammengebaut wurde, zb "at position "

[2018-04-22 19:58] ede1998 commented on #60
@InvisibleUSA reminder

[2018-04-23 08:42] InvisibleUSA opened #65 "Split Queries into sub packages"
Vorschlag:
`me.metlabnews.Model.DataAccess.Queries.BaseX`
`me.metlabnews.Model.DataAccess.Queries.MariaDB`

[2018-04-23 09:06] MarcoRempfer commented on #65
Dagegen!
Der Benutzer einer Query will nicht wissen, auf welche DB sie zugreift.
Die Queries sind dazu da, um die DBs zu verbergen.

[2018-04-23 09:07] InvisibleUSA commented on #60
@ede1998 WIP!!

[2018-04-25 10:27] ede1998 commented on #65
Dafuer! Der Nutzer merkt das nicht, ausser dass  sein Package anders heisst.

Er wuerde genauso QueryXYZ q = new QueryXYZ aufrufen, und beide gleich verwenden.

[2018-04-25 16:51] ede1998 opened #67 "NullPointerException auf Server - bitte pruefen (Presenter)"
Passiert unregelmaessig, vermutlich wenn jemand die website verlaesst.
StackTrace im Log:
[code]

[2018-04-25 17:20] ede1998 opened #68 "Probleme mit Logger"
### Inkonsequente Bennenung der Channels
Die Channel fuer die Datenbanken heissen:
BaseX vs RDBMS

Das passt aber imo nicht ganz:
DODBMS (?) vs RDBMS
BaseX vs MariaDB
NoSQL vs SQL
waeren bezeichnungen die eher zueinander passen wuerden.

Kann man die die Channel umbenennen?

[2018-04-25 17:24] #64 closed, assigned to Toberto91

[2018-04-25 17:29] ede1998 commented on #60
Muss auch sein, wenn die im Connector erstellt wuerden. Man kann ja in `MariaDBQueryBase` Konstanten fuer die Tabellennamen u.ä. erstellen, die die Unterqueries dann verwenden. So muss bei Aenderung eines Tabellennamens nur einmal was geaendert werden.

Wird in diesem Projekt nicht passieren, also unnoetig sich darauf vorzubereiten

[2018-04-25 18:18] BentiGorlich opened #69 "Probleme in QueryGetRelevantArticlesFromRSS verwendet wird"
in NewsSource übergibt man die Werte für name, link und rss_link direkt im Konstruktor weil die Felder final sind.

[2018-04-25 19:01] BentiGorlich commented on #68
Bitte noch einen Info Channel dazu machen

[2018-04-25 19:32] ede1998 commented on #68
- Leerzeilen zwischen Logzeilen bitte entfernen
- Channels abschaltbar machen

[2018-04-26 06:56] InvisibleUSA opened #70 "Einigung darüber ob Strings oder Objekte zurückgegeben werden sollen"
Aktuell werden manchmal Objekte und manchmal Strings uebergeben.

Beispiele:
`public void getAllOrganisations(Session session, IGetStringArrayEvent onSuccess, IGenericFailureEvent onFailure)`  - hier werden Organisationen als String Array zurückgegeben.

`public void getPendingVerificationRequests(Session session, IUserInterface.IFetchPendingVerificationRequestsEvent onSuccess, IGenericFailureEven

[2018-04-26 07:01] MarcoRempfer commented on #70
Objekte. Einfach, konsistent, eindeutig.

[2018-04-26 07:02] InvisibleUSA commented on #70
Ganz meine Meinung. Dann bräuchte ich noch Events dafür in IUserinterface. Wer ist dafür zuständig?

[2018-04-26 07:05] MarcoRempfer commented on #68
"DBMS" hab ich damals eingeführt, weil mein Connector völlig unabhängig vom konkreten System war. Der hätte auch mit PostgreSQL oder sonst was funktioniert (SQL Dialekt war in den Settings angegeben).
Der, der jetzt im dev Branch liegt, ist spezifisch für MariDB und könnte dann auch so heißen.
BaseX ist ebenfalls sehr spezifisch.

[2018-04-26 07:06] MarcoRempfer commented on #68
@BentiGorlich wofür soll der gut sein?

[2018-04-26 07:08] ede1998 commented on #68
Loggen von Info Nachrichten, bsp Crawler wird gestartet, was in debug untergehen wurde

[2018-04-26 07:50] InvisibleUSA opened #71 "Fehlermeldung"
Bin auf folgende Fehlermeldung gestossen:

`SEVERE: Error writing JSON to response
elemental.json.JsonException: Invalid number literal: 182|
	at elemental.json.impl.JsonTokenizer.getNumberForLiteral(JsonTokenizer.java:286)
	at elemental.json.impl.JsonTokenizer.getValueForLiteral(JsonTokenizer.java:309)
	at elemental.json.impl.JsonTokenizer.nextValue(JsonTokenizer.java:177)
	at elemental.json.impl

[2018-04-26 07:56] MarcoRempfer commented on #71
Schade.

[2018-04-26 18:26] Toberto91 commented on #68
alles erledigt und im dev-branch

[2018-04-27 10:14] MarcoRempfer commented on #67
Sollte gefixt sein.

[2018-04-27 10:55] ede1998 commented on #67
Dann mach es auch zu ;)

[2018-04-27 10:55] #67 closed

[2018-04-27 21:13] InvisibleUSA commented on #71
Wird sich wohl eh niemand drum kuemmern

[2018-04-27 21:13] #71 closed

[2018-04-27 21:15] InvisibleUSA opened #72 "MainUI wird nicht angezeigt"
Beim zugriff auf die localhost Website kommt folgende Fehlermeldung:

`java.lang.IllegalArgumentException: sender is not associated with a session
	at me.metlabnews.Presentation.Presenter.whoAmI(Presenter.java:153)
	at me.metlabnews.UserInterface.MainUI.whoAmI(MainUI.java:192)
	at me.metlabnews.UserInterface.Views.SubscriberDashboardView.<init>(SubscriberDashboardView.java:48)
	at me.metlabnews.Us

[2018-04-29 10:24] ede1998 opened #73 "Logger rekursiver Aufruf mit ConfigurationManager"
Fix that shit.

Please.

wenn log gar nicht erst configuration manager aufruft, kann das gar nicht passieren

[2018-04-29 10:25] ede1998 commented on #68
bitte den commit mit angeben

[2018-04-29 10:28] ede1998 commented on #68
- Ich gehe davon aus, dass der info channel activity heisst?
- Wie filtere ich jetzt channels?

[2018-04-29 10:33] ede1998 opened #74 "Mails versenden"
Wie versende ich jetzt eine Mail?

Soweit ich das gesehen habe, hat die HTML klasse eine funktion.
[code]

Wie versende ich damit eine sinnvolle Mail, wie gebe ich der Mail einen Inhalt?

[2018-04-29 12:09] Toberto91 commented on #74
Ich habe zu Test- und Debugzwecken den 3. Parameter "message" weggelassen und vergessen ihn wieder einzufügen.

Mails senden nun mit dieser Signatur:

`public boolean send(String to, String subject, String message);`

`String message = "Hallo Welt";

new HTMLMail()
{{
	send("test@test.de", "Subject", message);
        send("test@test.de", "Subject", getHTMLContent());  // Alternative über Object i

[2018-04-29 12:30] Toberto91 commented on #74
Das ist mir eigentlich relativ egal. Ich habe eine funktionierende Mail-Klasse bereitgestellt, die fähig ist HTML Mails zu versenden. Sehe keinen Diskussionsbedarf über den Sinn oder über den Nicht-Sinn. Wenn dir der Aufruf nicht passt, ergänze eine Overload Methode dazu.

[2018-04-29 12:30] #74 closed

[2018-04-29 12:35] Toberto91 commented on #73
Wenn ich den configmanager aus dem Logger entferne, dann sind alle Settings default. Wie oft denn noch?
Da du gerne deine Settings variabel einstellen möchtest, musst du den Logger (nach dem Configuration Manager) initialisieren.

Ohne initialisierung -> keine Settings -> alles default -> kein Error
Nicht alles korrekt initialisiert -> Exception / Error
Fehlende Settings.XML -> Error -> nachprüfen

[2018-04-29 12:45] Toberto91 opened #75 "Problem mit Pfad im ConfigurationManager und somit Fehler durch nicht vorhandene Settings.XML"
Bitte mal durchtesten, und zwar bitte ALLE ! Es gibt ein Problem mit dem Pfad, dass bei mir der Zusatz .../Software/ nicht dabei steht und somit die Settings.XML aus dem ConfigurationManager niemals gefunden wird.

Irgendeine Klasse Main erstellen und folgenden Code einfügen:

[code]

Ergebnis? Bei mir:

Wie es aussehen sollte:

Wie sieht das Ergebnis bei euch aus?

[2018-04-29 12:50] InvisibleUSA commented on #75
Ergibnis auf Kali linux:

`/home/ln/IdeaProjects/METLAB_News`

[2018-04-29 13:08] ede1998 commented on #75
/home/erik/dhbw/swe/Metlab_News/Software

[2018-04-29 13:14] InvisibleUSA commented on #75
@ede1998 welcher build? Welche JRE?

[2018-04-29 13:47] Toberto91 commented on #75
OK, dann haben wir das Problem erkannt. Jemand eine Idee wie man das fixen könnte?

[2018-04-29 13:47] ede1998 commented on #75
Wo ist das Problem?

[2018-04-29 13:48] Toberto91 commented on #73
Sollte nun ein für alle mal aus der Welt geschafft sein (hoffe ich).

https://github.com/InvisibleUSA/METLAB_News/commit/fade45adb3761248fb80a7abad2fb28300c5d207

[2018-04-29 13:48] #73 closed

[2018-04-29 13:49] Toberto91 commented on #75
? Hast du nicht oben 1 Ergebnis mit /Software und eines ohne gepostet

[2018-04-29 13:49] InvisibleUSA commented on #75
Bei mir sind beide ohne

[2018-04-29 13:50] ede1998 opened #76 "Presenter error"
[code]

[2018-04-29 13:53] InvisibleUSA commented on #75
Was ich nicht verstehe ist warum ich das /Sowftware/Software bekomme obwohl bei mir im Basepath kein Software ist

[2018-04-29 13:54] ede1998 commented on #76
see also #72

[2018-04-29 13:54] #76 closed

[2018-04-29 13:56] Toberto91 commented on #68
Dann habe ich das falsch verstanden.

- INFO ist nun ein LogLevel
- Activity ist für sämtliche Aktivitäten im Programm (Klasse registriert sich, User registriert sich, User meldet sich an, Klasse hat sich initialisiert, etc....).
- Channels filterst du mit der Methode:
`Logger.getInstance().disableChannel(Logger.Channel.Default);`
Dies bitte im static initialiser im ResourceManager einbinden.

htt

[2018-04-29 13:59] ede1998 commented on #68
Logger.getInstance().disableChannel(Logger.Channel.Default);
Dies bitte im static initialiser im ResourceManager einbinden.

Ist doof als programm code, gehört in die Einstellung imo,

[2018-04-29 14:03] InvisibleUSA commented on #75
Mein commit muesste es fixen

[2018-04-29 14:10] ede1998 commented on #68
Logger.getInstance().disableChannel(Logger.Channel.Default);
Dies bitte im static initialiser im ResourceManager einbinden.

funktioniert nicht, trage da mal sowas wie XMLTag ein, wenn du debug als level zulaesst

[2018-04-29 14:12] ede1998 commented on #75
Das ist aber ziemlich unsicher...
247ebacd8e2bc9b74b0f035d962e229363b747d4

Was ist, wenn jemand in seinem Path `Software` stehen hat?

[2018-04-29 14:12] Toberto91 commented on #68
Muss nach der initialize Methode vom Logger aufgerufen werden, da in der initialize Methode erstmal alle zugelassen werden. Siehe letzter commit

[2018-04-29 14:12] #68 closed

[2018-04-29 14:12] InvisibleUSA commented on #75
Dann machs besser.

[2018-04-29 14:13] Toberto91 commented on #68
Example:

[code]

[2018-04-29 14:14] InvisibleUSA commented on #75
`System.getProperty("user.dir").endsWith("Software")`

So?

[2018-04-29 14:15] ede1998 commented on #75
Nein, das fliegt uns spaetestens auf dem Server um die Ohren..
`/opt/tomcat/Resources/Settings.XML` ist afaik der Pfad dort

[2018-04-29 14:16] InvisibleUSA commented on #75
Dann funktioniert die vorherige loesung aber auch nicht.

[2018-04-29 14:24] InvisibleUSA commented on #75
Ok aber es muss trotzdem Ueberall funktionieren

[2018-04-29 14:25] ede1998 commented on #75
`System.out.println(System.getProperty("user.dir"));` gibt das gleiche zurück wie pwd

[2018-04-29 14:30] InvisibleUSA commented on #72
@vulpesaquae oder @MarcoRempfer wird das heute noch gefixed??

[2018-04-29 16:03] MarcoRempfer commented on #72
Ja, geschätzt so gegen 20:00 Uhr

[2018-04-29 17:49] MarcoRempfer commented on #72
Wohl eher doch nicht

[2018-05-03 07:38] #72 closed

[2018-05-03 08:33] Toberto91 opened #77 "Loggen von (User-)Activities"
Loggen von Benutzeraktivitäten in unserer Applikation. Beispiel:

- User registriert sich
- User meldet sich an
- SysAdmin meldet sich an
- User falsches Login
- etc.

Wo implementieren?

[2018-05-03 08:35] Toberto91 commented on #75
Hat sich das eigentlich erledigt?

[2018-05-03 08:36] InvisibleUSA commented on #75
Nicht wirklich. Muss noch auf dem Server probiert werden und ggf ne Lösung gefunden werden

[2018-05-03 09:32] InvisibleUSA opened #78 "Mail error"
`09:12:11 ERROR: 535-5.7.8 Username and Password not accepted. Learn more at
09:12:11 535 5.7.8  https://support.google.com/mail/?p=BadCredentials k28-v6sm17425649wrk.46 - gsmtp`

[2018-05-03 10:53] Toberto91 opened #79 "Class Key not registered in Logger"
![image](https://user-images.githubusercontent.com/37065718/39572746-b66bd798-4ed0-11e8-86c0-237fc1f2e523.png)

Die Registrierung muss INNERHALB der Klasse erfolgen. Ansonsten landet ein DEBUG aus KEY in UNREGISTERED_CHANNEL, da sich 'this' nur auf die Klasse bezieht und danach auch abgefragt wird.
Daraus folgt, dass DEBUG für KEY nicht ausschaltbar ist für den Logger. Folge: ca. 20.000 Zeilen DEB

[2018-05-03 10:57] ede1998 commented on #79
Hast du die Verwendung nochmals geändert? Der key hat schon mal in xml geloggt

[2018-05-03 11:06] Toberto91 commented on #79
![image](https://user-images.githubusercontent.com/37065718/39573193-7b57c23c-4ed2-11e8-89ec-1a792f8a276e.png)
Die HashTable sucht nach der VALUE, die mit 'this' als KEY übergeben wurde. Registriert wurde die VALUE aber mit 'Key.Class' Dadurch ist vermutlich der Hashwert anders und die Hashtabelle findet das Key-Value paar nicht, wenn man es mit 'this' aufruft.

[2018-05-03 11:08] ede1998 commented on #79
In der Pause?

[2018-05-03 11:27] Toberto91 commented on #79
sollte gefixed sein.

[2018-05-03 11:27] #79 closed

[2018-05-03 11:30] Toberto91 commented on #78
Bitte HTMLMail nutzen. Simple Mail funktioniert zwar auch - jedoch gibt es hin und wieder Probleme mit der Google-Authentifizierung.

HTMLMail m = new HTMLMail();
m.send("test@test.de", "Subject", "Message goes here....");

[2018-05-03 11:30] #78 closed

[2018-05-03 11:31] MarcoRempfer commented on #77
In den Business Logic Klassen (UserManager, ProfileManager, etc.)

[2018-05-03 12:03] Toberto91 commented on #77
Implementiere ich in den nächsten Tagen

[2018-05-03 12:03] #77 closed

[2018-05-03 12:39] #60 closed

[2018-05-03 19:43] ede1998 commented on #75
ich denke ich habe eine Loesung:
[code]

[2018-05-03 20:03] ede1998 opened #80 "Speicherung zyklischer Termine"
Clipping sollen in einstellbaren Zeitintervallen versendbar sein.
Gibt es Vorschläge, wie dies am besten in der (BaseX) DB darzustellen ist?
Diese Darstellungsweise sollte gut mit XQuery abfragbar sein.

Wenn ihr Ideen habt, schreibt es einfach, ich kann euch dann (hoffentlich) sagen, ob das gut mit XQuery geht.

[2018-05-06 15:17] #69 closed

[2018-05-06 15:18] BentiGorlich opened #82 "Logger Level deaktivieren geht nicht"
wenn ich in der Settings Datei das LogLevel degug ausschalte funzt es nicht, also die Debug nachrichten werden immernoch geloggt...

Wenn ich aber von ToConsole zu ToFile ändere geht es nicht, also liegt es schonmal nicht an der Datei...

[2018-05-06 15:51] Toberto91 commented on #82
War ein kleineres Problem mit der logischen Verknüpfung des Logger. Sollte nun funktionieren.

https://github.com/InvisibleUSA/METLAB_News/commit/5e72c51df98868471213516e4f1f1376d472febf

[2018-05-06 15:51] #82 closed

[2018-05-06 16:29] BentiGorlich opened #83 "Channel for YaCy needed"
Logger Channel für YaCy wäre nice

[2018-05-06 16:32] BentiGorlich opened #84 "XMLTag wirft NullPointerException bei 2. Processing Instruction"
wenn man ein XML Dokument wie `<?xml version='1.0' encoding='UTF-8'?><?app?><channel></channel>` versucht zu parsen bekommt man eine NullPointerException

[2018-05-06 18:36] ede1998 commented on #84
du musst deinen xmlstring escapen, sonst sieht man ihn hier nicht
habe es jetzt korrigiert

[2018-05-06 18:40] ede1998 commented on #84
Also ich bekomme keine Nullpointer-Exception. XMLTag fragt das JavaXML-Zeug und das sagt, es ist invalides XML. Dementsprechend wird nie weiter konstruiert. Dann ist das zu erwartende Verhalten eine NullPointer-Exception (RTFM).
![grafik](https://user-images.githubusercontent.com/26464515/39676579-820263e2-516d-11e8-9fa5-06901d634deb.png)

[2018-05-06 18:42] BentiGorlich commented on #84
oh ok.
Es ist aber kein invalides XML... und wenn ich es online in einen parser werfe bekomme ich auch keine Fehlermeldung...

[2018-05-06 18:43] ede1998 commented on #84
ich schaetze es ist invalid, aber der online parser vergibt mehr als der Java eigene
lass morgen ueberlegen, was zu tun ist

[2018-05-06 18:44] BentiGorlich commented on #84
hmm ok...
das Problem ist halt dass die Suchergebnisse bei YaCy eben mit 2 PIs am Anfang kommen und man das nicht ausstellen kann...

[2018-05-06 18:45] ede1998 commented on #84
Vorschlag: XMLTag schmeisst alle PIs raus vor dem ubergeben an Javas XML

[2018-05-06 18:46] BentiGorlich commented on #84
dann meckert er aber dass er ne version im xml tag bracuht,... wobei ich nicht weiß wie es ist wenn man gar kein xml tag am Anfang hat...

[2018-05-07 07:54] #84 closed, assigned to ede1998

[2018-05-07 07:56] ede1998 commented on #84
Addressed in commit 3aaf0e9a9c6f10075c0a8f9779c8137141824d59

[2018-05-07 08:00] ede1998 commented on #80
Idee von @vulpesaquae :
last generation speichern und eine Periode zb in Seconds,
 erlaubt ausrechnen, wann ein neues Clipping generiert werden muss

[2018-05-07 08:00] #80 closed

[2018-05-07 11:02] Toberto91 commented on #83
https://github.com/InvisibleUSA/METLAB_News/commit/8047a99c49dec1ddc6c2c9d1a327f6eb6d408bbe

[2018-05-07 11:02] #83 closed, assigned to Toberto91

[2018-05-07 11:03] Toberto91 commented on #75
wurde das mittlerweile getestet und für funktionierend befunden?

[2018-05-07 11:12] Toberto91 opened #85 "JavaDoc für abgeleitete Methoden"
Wir brauchen eine **_einheitliche_** JavaDoc für abgeleitete Methoden.

Beispiel initialize(), close()

Des Weiteren sollten die getInstance()-Methoden auch einheitlich Dokumentiert sein.

[2018-05-07 11:30] ede1998 commented on #85
`@InheritDoc`?
Das geht für init und close

[2018-05-07 11:31] ede1998 commented on #75
Nein ich habe nur einen lsg ansatz aufgezeigt

[2018-05-07 15:08] Toberto91 commented on #85
Wird das dann nur bei der Extrahierung der HTML / PDF - Datei mit vererbt oder gibt es auch eine Möglichkeit das direkt in der IResource zu dokumentieren und die Doku wird dann automatisch für alle ableitenden Klassen generiert? Hat nämlich gerade nicht funktioniert für die initialize().

Die close() wird ja von AutoCloseable abgeleitet, die ist gesperrt. Was gibt es hierfür für eine Lösung?

[2018-05-07 15:11] ede1998 commented on #85
Klar das geht nur in der extrahierten und geparsten Javadoc, so wioe link, @see und so weiter

Kann man in Java nicht die Funktion nochmal deklarieren und ne javadoc dazu machen?

[2018-05-07 15:15] Toberto91 commented on #85
War auch meine erste Idee. Weiß ich leider nicht, ob das so funktioniert. @MarcoRempfer ? Weißt du das?

[2018-05-08 08:16] Toberto91 opened #86 "NullPointerException in SystemAdminDashboardView (beim Hinzufügen einer neuen Organisation)"
![2018-05-08 10_13_11-whatsapp](https://user-images.githubusercontent.com/37065718/39745797-9f7caf40-52a8-11e8-9f23-7d1d037f651c.png)

Tritt bei jedem Hinzufügen von einer neuen Organisation auf. Sowohl im Dev-Branch als auch auf dem Webserver (vermutlich - da keine Notification).

Please fix asap. Eine nicht funktionsfähige Version zu releasen sollte eigentlich nicht sein.

[2018-05-08 08:34] Toberto91 commented on #86
@MarcoRempfer

[2018-05-08 09:11] vulpesaquae commented on #86
Ich habs mir angeschaut und hab kein Plan, was an der Stelle die Exception verursacht oder in welcher Datei der Fehler ist. Meiner Einschätzung nach kann des in SystemAdminDashboardView, MainUI oder Presenter sein, aber ich weiß auch bei ner vergleichbaren, funktionerenden Funktion nicht, woher das onSuccess kommt
Also @MarcoRempfer

[2018-05-08 09:36] ede1998 commented on #75
Wer kuemmert sich jetzt darum?
Gibt es jmd, der grade nicht schon ne feste Aufgabe hat?

[2018-05-08 10:18] Toberto91 commented on #75
Am besten wäre wenn du es an jemanden delegierst; jemand der noch ein paar Stunden aufzuholen hat.

[2018-05-08 10:21] ede1998 commented on #75
Deswegen frage ich ja.
@BentiGorlich hat afaik nicht so viel zu tun?
was ist mit @InvisibleUSA  und @Toberto91 ?

[2018-05-09 11:15] MarcoRempfer commented on #85
Bietet das IntelliJ nicht an?

[2018-05-09 12:02] MarcoRempfer commented on #86
@vulpesaquae da feht wahrscheinlich ein access in SystemAdminDashboardView

[2018-05-09 16:08] Toberto91 opened #87 "Endspurt"
Am Montag steht das finale Release und die Vorführung mit Van Hoof bevor. Bis dato sind die meisten anderen Gruppen schon fast fertig und haben wirklich optisch und funktional mega gute Anwendungen. Wir sollten deshalb gegen Ende nochmal ordentlich Gas geben, auch wenn es in der Lernphase ist, gibt es auch in SWE eine Note. Als Qualitäts- und Dokumentationsbeauftragter möchte ich deshalb, dass wir

[2018-05-09 16:12] Toberto91 commented on #87
Ich beginne gleich mal. Ich kann NICHT am Freitag und Samstag vor 15 Uhr.

[2018-05-09 16:15] Toberto91 commented on #85
im Notfall füge ich mit copy & paste die Dinger manuell ein.

[2018-05-09 16:15] #85 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-05-09 16:18] Toberto91 commented on #59
Soweit ich gesehen habe ist ein Feedback vorhanden (falls die NullPointerException behoben wurde), falls nicht: re-open

[2018-05-09 16:18] #59 closed

[2018-05-09 16:29] MarcoRempfer commented on #87
Könntest du dem Issue vielleicht noch ein paar Labels hinzufügen? Ich kann das sonst nicht einordnen.

[2018-05-09 16:43] Toberto91 commented on #87
@MarcoRempfer danke für den Hinweis ;-) wie sieht es bei dir aus zwecks Zeit für Meetings oder noch fehlenden TODOs ?

[2018-05-09 17:52] MarcoRempfer commented on #87
Samstag von 15:00 bis 18:00 oder Sonntag würde gehen.

[2018-05-09 18:02] ede1998 commented on #87
Ich kann die ganze zeit. Will nur lernen, also bin flexibel von Termin her.

Anmerkung: soweit ich weiß gibt es dafür so ziemlich die meisten ccts punkte

[2018-05-09 18:26] Toberto91 commented on #87
Es gibt 9 Credits dafür, zählt also sehr stark beim Schnitt mit

[2018-05-09 20:28] ede1998 opened #88 "BaseX input sanitization"
Pruefen wir eigentlich den BaseX-Input? Also verhindern wir Code-injection attacks gegen BaseX?

Das betrifft hauptsaechlich das Frontend, aber koennte auch den RSS Crawler betreffen.

[2018-05-10 14:55] Toberto91 opened #89 "Fails in Unit-Tests"
![image](https://user-images.githubusercontent.com/37065718/39876163-c7c9a572-5472-11e8-93a3-b0425bfc37d6.png)

![image](https://user-images.githubusercontent.com/37065718/39876236-ed3a67f6-5472-11e8-9efe-187ecb0f14ae.png)

[2018-05-10 18:12] vulpesaquae commented on #87
Geht mir auch so

[2018-05-10 18:15] vulpesaquae commented on #88
Im UI jedenfalls nicht. Semantische Überprüfungen gehören denk ich in Model oder Controller. Und ich kenn mich mit BaseX nicht aus

[2018-05-10 19:35] vulpesaquae commented on #86
Ich weiß nicht wieso oder was das access geändert hat, aber es hat das Problem behoben ¯\\_(ツ)_/¯

[2018-05-10 19:35] #86 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-05-10 21:51] ede1998 commented on #89
addressed in commit 7c0c453c133f0322e9a9738fc5f189299d8a2ea3

[2018-05-10 21:51] #89 closed, assigned to ede1998

[2018-05-11 11:19] vulpesaquae opened #90 "PendingVerifications listet auch abgelehnte Nutzer auf"
Nicht verifizierte Nutzer, die abgelehnt wurden, werden weiterhin bei der Abfrage nach PendingVerifications aufgelistet. Also in der Datenbank mit isVerified == 0 und deactivatedSince == notNull. Da sollte die query angepasst werden.

[2018-05-11 11:58] MarcoRempfer commented on #88
Sowas gehört logischerweise in in den BasXconnector.
Aber woher sollte denn überhaupt irgendwelcher BaseX Input kommen?

[2018-05-11 14:08] #90 closed, assigned to InvisibleUSA, MarcoRempfer

[2018-05-13 09:32] Toberto91 opened #91 "Error in Unit Tests"
[INFO] Total time: 4.456 s
[INFO] Finished at: 2018-05-13T11:30:52+02:00
[INFO] Final Memory: 29M/492M
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:testCompile (default-testCompile) on project metlabnews: Compilation failure: Compilation failure:
[ERROR] /C:/Users/Tobi/IdeaProjects/

[2018-05-13 09:40] ede1998 commented on #91
@MarcoRempfer hat den Konstrukt or geändert, deswegen geht es jetzt nicht mehr

[2018-05-13 09:57] Toberto91 commented on #91
Ok, dann soll @MarcoRempfer erstmal alles fertig programmieren, die Tests sind nun erstmal zweitrangig.

[2018-05-13 10:18] MarcoRempfer commented on #91
Wurde im Test geändert.

[2018-05-13 10:18] #91 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-05-13 19:44] ede1998 commented on #88
Ist egal, wird sowieso nie produktiv eingesetzt...

Ausspäh-Angriffe wären  möglich über xQuery zb im keyword feld für Profile

[2018-05-13 19:44] #88 closed, assigned to BentiGorlich, vulpesaquae, MarcoRempfer

[2018-05-13 19:47] ede1998 commented on #75
ok macht eh niemand mehr

[2018-05-13 19:47] #75 closed

[2018-05-13 19:50] ede1998 commented on #70
ich denke das hat sich?

[2018-05-13 19:50] #70 closed

[2018-05-14 09:47] Toberto91 opened #92 "BUGFIXING: Fertigstellung des Projekts bis Dienstag, 05.06.2018 !"
- [x] Bugfixing im Frontend
- [x] Bedienungsanleitung
- [x] Installationsanleitung
- [x] Dokumentation über Tests und Projekt
- [x] aktualisierte DVD

Bei Endabnahme:
- [x] Use Cases anhand von Checkliste abarbeiten und ihm präsentieren

[2018-05-14 10:06] Toberto91 commented on #92
[] Bedienungsanleitung
[] Installationsanleitung
[] Dokumentation über Tests und Projekt
[] aktualisierte DVD

[2018-05-14 12:45] #87 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-05-15 18:19] vulpesaquae opened #93 "Bug in QueryGetProfileById"
In ProfileManager.shareProfile(...) soll ein Profil an Hand der zuvor abgerufenen ID abgerufen werden. Die Query gibt schlägt nicht fehl, gibt aber null als Profil zurück. Siehe screenshot
![image](https://user-images.githubusercontent.com/37065828/40075618-0ae51e96-587d-11e8-8571-7f954f233537.png)

[2018-05-15 19:30] vulpesaquae opened #94 "Bug in QueryGetProfilesByEmail"
QueryGetProfilesByEmail gibt zwar die korrekten Profile aus, allerdings nur die erste der Quellen. Das Profil wird laut Logger korrekt abgerufen, aber nicht korrekt weitergereicht (Screenshot)
(das selbe Problem könnte bei den Quellen auch der Fall sein)

[code]
![image](https://user-images.githubusercontent.com/37065828/40078838-200a7088-5886-11e8-9ffe-fe97f81bdebf.png)

[2018-05-15 19:33] ede1998 commented on #93
Das if !execute ist falsch:
schau dir mal die javadoc dazu an:
Das sagt nichts über den erfolg der speziellen query...

wenn sie nicht erfolgreich ist würde ich null als profile erwarten

[2018-05-15 19:33] ede1998 commented on #93
Könnte aber durchaus sein, dass trotzdem ein fehler drin ist

[2018-05-15 19:47] vulpesaquae commented on #94
Sieht bei den Suchbegriffen gleich aus wie bei den Quellen

[2018-05-15 19:47] ede1998 commented on #94
Ach so ich weiss woran das liegt

[2018-05-15 19:51] ede1998 commented on #94
Ok vllt auch nicht....
Ich schau morgen mal

[2018-05-15 19:53] vulpesaquae commented on #93
Okay, das !execute ist richtig verwendet, aber dann fehlt noch ein Abfangen von "Profil nicht gefunden" @MarcoRempfer
Die Query sollte trotzdem n Profil zurückgeben, zumindest hab ich die Profil ID mit der QueryGetProfilesByMail aus der Datenbank abgerufen

[2018-05-15 19:54] ede1998 commented on #93
Die fehler meldung ist falsch
Jedenfalls klingt sie falsch, weil das false auf dem execute sagt nichts aus drüber ob es das profil gibt

[2018-05-15 20:00] vulpesaquae commented on #93
Naja, wenn die Datenbank nicht erreichbar ist, aber die Website schon, ist "unbekannter Fehler" denk ich schon angemessen. Für "Profil nicht gefunden" brauchts halt noch was separat davon, das auf m_profile == null reagiert

[2018-05-15 20:01] ede1998 commented on #93
Auf dem bild steht ne andere meldunf

[2018-05-15 20:11] vulpesaquae commented on #93
Oh stimmt^^
Den Teil hab ich mir gar nich so genau angeschaut, weil der bei den abfragen immer sehr ähnlich aussieht. Dann muss des eventuell noch an mehr stellen angepasst werden

[2018-05-16 19:43] ede1998 commented on #92
Noch ein Punkt, der verbessert werden sollte:
- [x] Unit-Test Coverage erhoehen

Wir haben bisher nur fuer einen (sehr) kleinen Teil unserer Software Unit-Tests. Das muss unbedingt mehr werden.

[2018-05-16 21:11] ede1998 commented on #93
addressed in commit 7dac1ad2a5b078e2de35b9c0376fd7264db9584c

[2018-05-16 21:11] #93 closed, assigned to ede1998, MarcoRempfer

[2018-05-16 21:11] ede1998 commented on #94
addressed in commit 7dac1ad2a5b078e2de35b9c0376fd7264db9584c

[2018-05-16 21:11] #94 closed, assigned to ede1998

[2018-05-21 08:06] Toberto91 opened #95 "PHPMyAdmin hat Probleme"
Nachdem ich 10 mal den Fehlercode '500' erhalten habe (internal Server Error) kam ich endlich auf die Login-Seite, welche nicht sehr 'gesund' aussieht.

Login ist nicht möglich: No space left on device (28) ? --> Hat der Logger den Server zugemüllt? Festplatte voll?

![image](https://user-images.githubusercontent.com/37065718/40296914-67099b6a-5cde-11e8-9603-6b4385d2abc9.png)

please fix if possib

[2018-05-21 09:13] Toberto91 commented on #95
fixed by @InvisibleUSA

[2018-05-21 09:13] #95 closed, assigned to ede1998, InvisibleUSA

[2018-05-27 09:15] Toberto91 opened #96 "Artikel / Quellen crawlen"
Ich weiß nicht genau, ob ich damit richtig liege. Aber wir haben am Tag der Abgabe sämtliche neue Quellen hinzugefügt: BILD, WELT, BBC, Focus, etc... Auf dem Screenshot in der Datenbank sind aber irgendwie nur 4 von 9 Artikelcounter > 0

Liegt das nur am RSS-Feed? Wird von Quellen, die kein RSS-Feed haben nichts gecrawled und somit auch kein Clipping versendet?

Es soll am Ende doch so sein, dass

[2018-05-27 09:44] BentiGorlich commented on #96
Dieser Countertenor ist nie für Artikel die in der BaseX Datenbank sind, damit die eine GUID bekommen können. Das heißt der Countertenor ist nur für die RSS Crawler. Wenn etwas mir YaCy gecrawlt wird wird dieser Countertenor auch nicht hochgezählt

[2018-05-27 09:49] Toberto91 commented on #96
Könnte man vielleicht einen Counter nochmachen für YaCy ?

Damit man direkt auf den Ersten Blick sieht wieviele Artikel man von welcher Quelle und über welche Crawl-Art hat ?

[2018-05-27 09:51] ede1998 commented on #96
YaCy funktioniert anders
Du fragst YaCy nach einem RSS Feed fuer bestimmte KeyWords und dafuer bekommst du eine Antwort
Demnach ist der Counter fuer YaCy nicht aussagekraeftig

[2018-05-27 10:00] ede1998 opened #97 "Responsive HTML-Mail"
Ich habe herausgefunden, warum in der Mail null steht:

Beim Erstellen der Mail wird die methode createHTMLMail aufgerufen.
Diese gibt m_HTMLMessage zurueck.  Dies ist ein final String. Wenn er erstellt wird ist content noch null.
[code]

Das kann so nicht funktionieren. Sobald die Instanz von Resp.HTMLMessage erstellt wird, steht fest wie die HTML messsage aussieht. und da ist eben content noch n

[2018-05-27 10:21] BentiGorlich commented on #96
Erik liegt richtig. Und nein man kann keinen Countertenor für yacy machen. Dafür müsste man den Ort an dem der Index ist dauerhaft beobachten und analysieren... Dafür haben wir keine Zeit, keine Lust und es hat keinen Sinn... Und da wir keinen Zugriff auf die Funktionsweise von YaCy haben können wir da auch nichts machen

[2018-05-27 10:22] BentiGorlich commented on #96
Der Counter wird bei YaCy aber auch nicht hochgesetzt. Das ist eine eigene Query die nur beim RSS Crawler aufgerufen wird

[2018-05-27 10:23] #96 closed, assigned to BentiGorlich, ede1998, InvisibleUSA

[2018-05-27 12:24] ede1998 opened #98 "Installationsskript"
Kann mal bitte jeder, der eine externe Dependency hat aufschreiben, was und wie es auf dem Server installiert werden muss

Zb tomcat, yacy, mariadb, habe ich was vergessen

[2018-05-27 18:50] Toberto91 commented on #97
https://github.com/InvisibleUSA/METLAB_News/commit/c2e37dcd1acbaed9971a6d847f35c5654c5989df

[2018-05-27 18:50] #97 closed, assigned to Toberto91

[2018-05-27 20:31] vulpesaquae opened #99 "Bug in QueryGetSubscribersOfOrganisation"
Die Query gibt für Beispielfirma nur einen Subscriber zurück, es sind aber neun in der Datenbank

![image](https://user-images.githubusercontent.com/37065828/40590336-411f0fe2-61fd-11e8-9514-fa80cca3807b.png)

[2018-05-27 21:05] vulpesaquae opened #100 "Bug bei Vorlagen"
Ablauf:
Vorlage erstellen  -> scheint erfolgreich
Vorlage abrufen -> scheint an sich erfolgreich, es wird aber keine Vorlage von der Query zurückgegeben

Aufruf über das Administrator Dashboard, Debugging bis in Methoden des ProfileManager: createNewProfileTemplate, getAvailableTemplates

QueryAddProfileTemplate enthält nach Aufruf bei template die korrekten Informationen der Vorlage und bei resul

[2018-05-28 11:41] #100 closed, assigned to ede1998

[2018-05-28 11:42] ede1998 commented on #100
Fehler lag nicht nur in der Query, die reingegebenen Daten waren auch falsch:
[code]

fixed in 03fc939

[2018-05-28 17:52] Toberto91 opened #101 "Clippings"
Folgende Funktionen der Clippings funktionieren nicht richtig:

- [x] Inhalt der Clippings (wie in WhatsApp besprochen) sind zu viele
- [x] Filterung der Schlüsselwörter funktioniert nicht richtig. Getestet mit "Trump USA"
- [x] Zustellungsintervall? Egal was ich einstelle, ich bekomme dauerhaft alle paar Sekunden ein Clipping

[2018-05-28 17:54] Toberto91 opened #102 "Login / Logout / Login Exception"
Wenn ich mich einlogge, auf Ausloggen drücke und mich wieder einloggen möchte erscheint folgende Exception:

![image](https://user-images.githubusercontent.com/37065718/40625133-e0947e0a-62b0-11e8-8472-353bc75c6a7d.png)

[2018-05-28 18:02] Toberto91 opened #103 "IOException in WebCrawler (YaCy Crawler)"
Das try in der Methode start() löst in kurzen Zeitabständen dauerhaft IOExceptions aus

![image](https://user-images.githubusercontent.com/37065718/40625335-041bf618-62b2-11e8-93c2-9f43cb121883.png)
![image](https://user-images.githubusercontent.com/37065718/40625339-0a941dd6-62b2-11e8-97ae-4a816984b22a.png)

[2018-05-28 18:12] Toberto91 opened #104 "YaCy / Clipping Generator Error"
nur zur Vollständigkeit. Ist wahrscheinlich der gleiche Fehler wie bei https://github.com/InvisibleUSA/METLAB_News/issues/103

![image](https://user-images.githubusercontent.com/37065718/40625503-340b2d5c-62b3-11e8-89ba-c0b4547fee36.png)

[2018-05-28 19:02] Toberto91 opened #105 "Profil löschen nicht mehr möglich"
Funktioniert sporadisch (nicht). Ich bekomme meins nicht mehr gelöscht. Wo werden denn die ObservationsProfile gespeichert?

[2018-05-28 19:06] Toberto91 opened #106 "Artikeldarstellung in E-Mail"
Allgemeine Darstellung der Artikel in der E-Mail ist unschön.

- [ ] toString() Methoden auf HTML anpassen

[2018-05-28 19:08] Toberto91 opened #107 "Feedback nach 'Profil erstellen'"
Bitte ein kleines Feedback nach 'Profil erstellen' hinzufügen. Aktuell passiert nichts im Frontend

[2018-05-28 19:56] ede1998 commented on #104
Liegt daran weil bei dir lokal kein yacy läuft, und er sich daher nicht damit verbinden kann

[2018-05-28 19:58] ede1998 commented on #105
Lokal in BaseXData

[2018-05-28 20:03] ede1998 opened #108 "Unit tests"
Bisher haben wir nur wenige unit tests...
Vorhanden für
- [x] Common package
- [ ] Teilweise für BaseX queries
- [ ] teilweise für clipping generator

Keine Unit-Tests:
- [ ] Für SQL haben wir afaik gar keine
- [x] crawler auch nicht
- [ ] presenter ( macht es da sinn?)

Bitte ergänzen!

[2018-05-28 20:04] ede1998 commented on #105
Wieso kannst du es nicht mehr löschen? Ohne mehr Infos braucht man da nicht schauen...

[2018-05-29 14:43] Toberto91 commented on #105
Nachdem ich mir einige Profile erstellt, wieder gelöscht und wieder erstellt habe, lies sich mein zuletzt erstelltes Profil nicht mehr löschen und ich habe dauerhaft E-Mails erhalten.

[2018-05-29 14:46] Toberto91 commented on #104
Wie installiere ich lokal yacy? Gibt es dafür eine Anleitung (bzw. unsere Logindaten) ?

[2018-05-29 14:49] Toberto91 opened #109 "JavaDoc / TODOs"
Es fehlt nach wie vor im Code noch stellenweise JavaDoc. Des Weiteren befinden sich noch einige wenige TODOs im Code!

TODOs im Code:
- [x] UserManager
- [x] IUserInterface

Fehlende JavaDoc:
- [x] schaut bitte selber nochmal alle eure Klassen durch

[2018-05-30 19:55] Toberto91 opened #110 "Install YaCy on Server"
Wir brauchen YaCy auf unserem WebServer für die Funktionalität zum Crawlen von Homepages ohne RSS.

Tutorial:
http://softwareengel.blogspot.com/2015/02/centos7.html

[2018-05-30 20:15] Toberto91 opened #111 "Filter von bereits versendeten Clippings"
- Suchbegriffe, die neue 'News' erhalten sollen die alten nicht mehr anzeigen, sondern nur noch die neuen

[2018-05-30 20:59] Toberto91 commented on #110
Installiert:
http://46.101.223.95:8090/

[2018-05-30 20:59] #110 closed, assigned to BentiGorlich

[2018-05-30 22:43] Toberto91 opened #112 "SQL Query Fail"
![image](https://user-images.githubusercontent.com/37065718/40751442-7712e324-646b-11e8-82fc-4758d2009c67.png)

[2018-05-30 22:44] #104 closed, assigned to BentiGorlich

[2018-05-30 22:44] Toberto91 commented on #105
fixed

[2018-05-30 22:44] #105 closed, assigned to ede1998, vulpesaquae, MarcoRempfer

[2018-05-30 22:45] Toberto91 commented on #103
fixed, wenn YaCy lokal installiert

[2018-05-30 22:45] #103 closed, assigned to BentiGorlich

[2018-05-31 10:21] Toberto91 commented on #101
Zustellungsintervall wurde gefixed.

Nach wie vor funktioniert nicht:
- Suchbegriffe
- Inhalt der Clippings

[2018-05-31 11:05] Toberto91 commented on #98
@BentiGorlich kümmert sich um:
- Installationsskript
- Installationsanleitung

[2018-05-31 11:14] Toberto91 opened #113 "Crawler Shutdown Methode"
@BentiGorlich hat eine Schnittstelle dafür bereitgestellt, bitte ein UI-Mensch (Marco, Achim) das implementieren !!

[2018-06-01 16:05] vulpesaquae commented on #107
Da ist Feedback im Code, genau das gleich wie bei Vorlage erstellen. Nur wird es bei der Vorlage sofort ausgeführt (Felder werden geleert plus Meldung) und bei Profil erst, wen eine weitere Interaktion mit Vaadin Componenten auftritt, zB Quellen aktualisieren. Kein Plan woran das liegen könnte, ich hab die entsprechenden Codefragmente in SubscriberDashboardView, MainUI und ProfileManager nebeneina

[2018-06-02 11:38] vulpesaquae commented on #113
Was genau für Methoden gibts in der Richtung? Also Shutdown, Start und Abruf des aktuellen Status?
Soll denn im Systemadministrator-Interface ne Anzeige des aktuellen Zustands und n Knopf als Trigger hin?

[2018-06-02 12:49] vulpesaquae commented on #102
addressed in commit 9d6e4bc

[2018-06-02 12:49] #102 closed, assigned to InvisibleUSA, vulpesaquae, MarcoRempfer

[2018-06-02 15:25] vulpesaquae opened #114 "QueryGetSubscribersOfOrganisation gibt nicht alle Subscriber zurück"
QueryGetSubscribersOfOrganisation gibt nur den ersten Subscriber zurück
Die verwendete Organisation ist Beispielfirma, die neun Nutzer hat.

Aufruf über getSubscribersOfOrganisation im Model/BusinessLogic/UserManager

![image](https://user-images.githubusercontent.com/37065828/40877940-44f9cb8a-6689-11e8-8920-d33430807134.png)

[2018-06-02 16:00] vulpesaquae opened #115 "Clipping Darstellung in UI"
wirft aktuell Exceptions

[2018-06-03 08:36] vulpesaquae opened #116 "Profil teilen optimieren"
Profil nicht mit sich selbst teilen können

[2018-06-03 14:13] Toberto91 commented on #113
@BentiGorlich

[2018-06-03 14:19] BentiGorlich commented on #113
du muss einfach im CrawlerController die Methode Stop aufrufen. Der beendet dann von sich aus alle Crawler die gerade laufen...
Wirkliche Statusmethoden habe ich nicht implementiert

[2018-06-03 14:21] BentiGorlich commented on #98
also das Installationsskript können wir glaube ich vergessen ^^. Das werden wir nicht schaffen und es wird ihn nicht interessieren... Die Anleitung mache ich dann noch

[2018-06-03 14:22] MarcoRempfer commented on #107
Ja, ist ein Vaadin Fuckup.

[2018-06-03 14:26] MarcoRempfer commented on #115
Welche Exceptions werden wann geworfen?

[2018-06-03 15:08] vulpesaquae commented on #115
inzwischen andere, ich arbeite dran

[2018-06-03 17:43] vulpesaquae commented on #115
Jetzt wird exakt die Mail des Clippings in der UI angezeigt.
Sollte dafür noch eine Variante ohne mailspezifische Elemente aus dem Clipping generiert werden? Also ohne so unsubscribe newsletter und so, des braucht man in der online Ansicht ja nich

[2018-06-03 19:25] vulpesaquae commented on #113
ist im Systemadmin Dashboard, die Knöpfe rufen nur die Start/Stopmethoden auf.
Kann der Start/Stop fehlschlagen? Wenn ja wäre dafür noch ne Rückmeldung praktisch.
schau mal ob es deinen Vorstellungen entspricht

[2018-06-03 20:42] vulpesaquae commented on #116
addressed in commit 39fe6f3

[2018-06-03 20:42] #116 closed, assigned to vulpesaquae

[2018-06-04 14:23] MarcoRempfer commented on #112
Den selben Scheiß seh ich auch, direkt beim Starten der Software.

[2018-06-04 14:37] MarcoRempfer commented on #115
Lass gut sein

[2018-06-04 17:15] InvisibleUSA commented on #114
Ist gefixt

[2018-06-04 17:15] #114 closed, assigned to ede1998, InvisibleUSA

[2018-06-04 17:16] #99 closed, assigned to InvisibleUSA

[2018-06-04 17:16] InvisibleUSA commented on #112
Ist gefixt

[2018-06-04 17:16] #112 closed, assigned to InvisibleUSA

[2018-06-04 17:19] Toberto91 commented on #101
funktioniert nun

[2018-06-04 17:19] #101 closed, assigned to BentiGorlich, ede1998, InvisibleUSA

[2018-06-04 17:20] Toberto91 commented on #106
fixed

[2018-06-04 17:20] #106 closed, assigned to BentiGorlich, Toberto91

[2018-06-04 17:20] Toberto91 commented on #107
not fixed, but nevermind.... not working. fuck off

[2018-06-04 17:20] #107 closed, assigned to vulpesaquae, MarcoRempfer

[2018-06-04 17:40] Toberto91 opened #118 "Clipping in UI"
m_articles im Clipping.java enthält keine Artikel bei der Darstellung in der UI

![image](https://user-images.githubusercontent.com/37065718/40932579-1687b530-682f-11e8-8278-437b8f3aa580.png)

[2018-06-04 18:52] vulpesaquae opened #119 "Bug in QueryGetSubscribersOfOrganisation"
Die Query gibt alle Nutzer als nicht-Administrator aus. Außerdem ist VerificationPending bei dem Nutzer im Screenshot auch nfälschlicherweise true.
Der gute b/b ist nämlich sicher n verifizierter Admin.
![image](https://user-images.githubusercontent.com/37065828/40935533-c3829d00-6838-11e8-8bb4-537fb24acad6.png)

[2018-06-04 18:57] #119 closed, assigned to ede1998

[2018-06-04 19:05] Toberto91 commented on #109
erledigt

[2018-06-04 19:05] #109 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-06-04 19:06] Toberto91 commented on #98
Anleitung erledigt

Skript.. fuck off

[2018-06-04 19:06] #98 closed, assigned to BentiGorlich, InvisibleUSA

[2018-06-04 19:11] #115 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-06-04 19:17] BentiGorlich commented on #113
funktioniert

[2018-06-04 19:17] #113 closed, assigned to BentiGorlich, vulpesaquae, MarcoRempfer

[2018-06-04 19:32] ede1998 commented on #118
Sollte vom Backend aus gehen.

[2018-06-04 19:39] #108 closed, assigned to BentiGorlich, InvisibleUSA, MarcoRempfer

[2018-06-04 20:03] ede1998 opened #120 "Missing use cases"
- [ ] Geschäftsprozess: Passwort zurücksetzen
[code]

- [ ] Geschäftsprozess: Interessenprofil erstellen bzw. ändern
[code]
- [x] Geschäftsprozess: Pressespiegel ansehen
[code]
vgl #118

- [ ] Geschäftsprozess: Vorlage für ein Interessenprofil erstellen / bearbeiten
[code]

[2018-06-04 20:14] #118 closed, assigned to ede1998, vulpesaquae

[2018-06-04 20:54] Toberto91 commented on #111
fuck off

[2018-06-04 20:54] #111 closed, assigned to nobody

[2018-06-04 20:55] Toberto91 commented on #120
too late

[2018-06-04 20:55] #120 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer

[2018-06-05 13:52] #92 closed, assigned to BentiGorlich, ede1998, InvisibleUSA, Toberto91, vulpesaquae, MarcoRempfer